.terms-text>ol {
    list-style-type: decimal;
    margin-left: 1rem;
}

.terms-text>ul {
    list-style-type:circle;
    margin-left: 1rem;
}

ol > ol {
    list-style: lower-latin;
    margin-left: 10px;
}

ol > ol > ol {
    list-style: lower-roman;
    margin-left: 20px;
}